AppStartupGuide/SampleData/DesignDataSource/DesignDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Blend.SampleData.DesignDataSource" targetNamespace="Blend.SampleData.DesignDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DesignDataSource" type="tns:DesignDataSource" />
  <xs:complexType name="DesignDataSource">
    <xs:sequence>
      <xs:element name="Items" type="tns:Items" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Items">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ItemsItem" type="tns:ItemsItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemsItem">
    <xs:attribute blend:Format="Lorem ipsum" blend:FormatParameters="4,8" name="Content" type="xs:string" />
    <xs:attribute blend:FormatParameters="2,8" name="Title" type="xs:string" />
    <xs:attribute name="BackgroundImage" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>